<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> News Summary Archive</title>
</head>
<body>
    <h1>🗞️ News Summary Archive {{ date }}</h1>
    <ul>
        {% for date in dates %}
            <li><a href="/archive/{{ date }}">{{ date }}</a></li>
        {% endfor %}
    </ul>
    <ul>
        {% for article in articles %}
            <li style="margin-bottom: 20px;">
                <h3><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h3>
                <p>{{ article.summary }}</p>
            </li>

            <!-- audio -->
            {% if article.audio_path %}
            <div>
                <!-- Inline player -->
                <audio controls preload="none">
                <source src="/static/{{ article.audio_path }}" type="audio/mpeg">
                Your browser does not support the audio element.
                </audio>

                <!-- Download link -->
                <a href="/static/{{ article.audio_path }}" download>Download MP3</a>
            </div>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>
